<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ page_title }}</title>
		<link href="#" type="text/css" />
</head>
<body>
<div id="content_right">
    <div id="regular_content">
        <div id="breadcrumbs">
            <a href="/blog/">Home</a>
            <span class="raquo">&gt;</span>
            <a href="/blog/category/">{{ article.category.name }}</a>
            <span class="raquo">&gt;</span> My Daily Journal Entry
        </div>
        <!-- end #breadcrumbs -->
        <article id="post_{{ article.id }}"
                 class="post_{{ article.id }} post type-post status-publish format-standard hentry category-blog single_view">

            <h1 class="main_title">{{ article.title }}</h1>

            <p class="meta_info">By
                <a href="http://www.elegantthemes.com/preview/Notebook/author/admin/" title="Posts by admin"
                   rel="author">admin</a> on {{ article.created }}

            <div id="post_content">
                {% load markup %}
                {{ article.content|textile }}
            </div>
            <!-- end #post_content -->

            <ul class="post_meta">
                <li>
                    태그 :
                    {% for tag in article.tags.all %}
                    <span>{{ tag.name }}</span>
                    {% endfor %}
                </li>
            </ul>

            <div class="post_bottom_bg"></div>
        </article>

        <div id="comment_wrap">
            <h3 id="comments">3 Comments</h3>
            <ol class="commentlist">
                {% for comment in article.comments.all %}
                <li class="comment byuser comment-author-admin bypostauthor even thread-odd thread-alt depth-1"
                    id="li-comment-{{ comment.id }}">
                    <div id="comment-{{ comment.id }}" class="comment-body">
                        <div class="comment-meta commentmetadata">
                            <div class="avatar-box">
                                <img alt=""
                                     src="http://0.gravatar.com/avatar/ef09d2d2b898eac1a333d4c1264b123f?s=60&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G"
                                     class="avatar avatar-60 photo" height="60" width="60">
                                <span class="avatar-overlay"></span>
                            </div>
                            <!-- end .avatar-box -->

                            <span class="fn">{{ comment.name }}</span>
                            <a href="http://www.elegantthemes.com/preview/Notebook/2011/12/04/my-daily-journal-entry/#comment-16">
                                {{ comment.created }}
                            </a>
                        </div>
                        <!-- .comment-meta .commentmetadata -->

                        <div class="comment-wrap">
                            <div class="comment-content">
                                {{ comment.content }}
                            </div>
                            <!-- end comment-content-->
                            <div class="reply-container">
                                <a class="comment-reply-link"
                                   href="/preview/Notebook/2011/12/04/my-daily-journal-entry/?replytocom=16#respond"
                                   onclick="return addComment.moveForm('comment-16', '16', 'respond', '23')">Reply</a>
                            </div>
                        </div>
                        <!-- end .comment-wrap-->
                        <div class="comment-bottom-part"></div>
                    </div>
                    <!-- end .comment-body-->
                </li>
                {% endfor %}
                <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-7">
                    <div id="comment-7" class="comment-body">
                        <div class="comment-meta commentmetadata">
                            <div class="avatar-box">
                                <img alt=""
                                     src="http://0.gravatar.com/avatar/ef09d2d2b898eac1a333d4c1264b123f?s=60&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G"
                                     class="avatar avatar-60 photo" height="60" width="60">
                                <span class="avatar-overlay"></span>
                            </div>
                            <!-- end .avatar-box -->

                            <span class="fn">admin</span>
                            <a href="http://www.elegantthemes.com/preview/Notebook/2011/12/04/my-daily-journal-entry/#comment-7">
                                December 5, 2011 at 10:03 pm</a></div>
                        <!-- .comment-meta .commentmetadata -->

                        <div class="comment-wrap">

                            <div class="comment-content"><p>Donec metus nunc, consequat condimentum semper eget,
                                vehicula nec lorem. Fusce fringilla nunc quis nulla malesuada iaculis. Duis lobortis
                                eros luctus ante ullamcorper sit amet lacinia elit blandit. Proin orci quam, gravida vel
                                tincidunt at, viverra imperdiet dui. Aenean interdum justo et ipsum venenatis vitae
                                dapibus dui vestibulum. Pellentesque dictum tincidunt sapien a pellentesque.</p>
                            </div>
                            <!-- end comment-content-->
                            <div class="reply-container">
                                <a class="comment-reply-link"
                                   href="/preview/Notebook/2011/12/04/my-daily-journal-entry/?replytocom=7#respond"
                                   onclick="return addComment.moveForm('comment-7', '7', 'respond', '23')">Reply</a>
                            </div>
                        </div>
                        <!-- end .comment-wrap-->
                        <div class="comment-bottom-part"></div>
                    </div>
                    <!-- end .comment-body-->
                    <ul class="children">
                        <li class="comment odd alt depth-2" id="li-comment-27">
                            <div id="comment-27" class="comment-body">
                                <div class="comment-meta commentmetadata">
                                    <div class="avatar-box">
                                        <img alt=""
                                             src="http://1.gravatar.com/avatar/99d841736e8efb8b224c1277ecee4b98?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G"
                                             class="avatar avatar-60 photo" height="60" width="60"> <span
                                            class="avatar-overlay"></span>
                                    </div>
                                    <!-- end .avatar-box -->

                                            <span class="fn">
                                                <a href="http://www.google.com" rel="external nofollow"
                                                   class="url">Someone</a>
                                            </span>
                                    <a href="http://www.elegantthemes.com/preview/Notebook/2011/12/04/my-daily-journal-entry/#comment-27">
                                        December 5, 2011 at 10:07 pm</a>
                                </div>
                                <!-- .comment-meta .commentmetadata -->

                                <div class="comment-wrap">

                                    <div class="comment-content"><p>Curabitur ornare mauris a dui tempus eget varius
                                        libero fermentum. Phasellus fringilla enim tempor leo tristique sit amet iaculis
                                        nisl faucibus. Praesent sapien lacus, venenatis vitae aliquam a, mattis sit amet
                                        lectus. Ut mollis, turpis eget sodales feugiat, lorem eros vestibulum risus,
                                        quis egestas lacus urna eu mi. Curabitur at lacus nunc, id ultricies nisi.
                                        Integer leo mi, congue non mollis ut, volutpat sit amet mi. Fusce egestas ante
                                        eu libero elementum posuere. In hac habitasse platea dictumst.</p>
                                    </div>
                                    <!-- end comment-content-->
                                    <div class="reply-container">
                                        <a class="comment-reply-link"
                                           href="/preview/Notebook/2011/12/04/my-daily-journal-entry/?replytocom=27#respond"
                                           onclick="return addComment.moveForm('comment-27', '27', 'respond', '23')">Reply</a>
                                    </div>
                                </div>
                                <!-- end .comment-wrap-->
                                <div class="comment-bottom-part"></div>
                            </div>
                            <!-- end .comment-body-->
                        </li>
                    </ul>
                </li>
            </ol>


            <div id="respond">
                <h3 id="reply-title"><span>Submit a Comment</span>
                    <small><a rel="nofollow" id="cancel-comment-reply-link"
                              href="/preview/Notebook/2011/12/04/my-daily-journal-entry/#respond" style="display:none;">Cancel
                        reply</a></small>
                </h3>
                <form id="commentform" action="/blog/add/comment/" method="post">
                    <p class="comment-notes">
                        Your email address will not be published. Required fields are marked
                        <span class="required">*</span>
                    </p>

                    <p class="comment-form-comment">
                        <label for="comment" style="display: none;">Comment</label>
                        <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                    </p>

                    <p class="comment-form-author">
                        <label for="author" style="display: none;">Name
                            <span class="required">*</span>
                        </label>
                        <input id="author" name="author" type="text" value="" size="30" aria-required="true" />
                    </p>

                    <p class="comment-form-email">
                        <label for="email" style="display: none;">Email
                            <span class="required">*</span>
                        </label>
                        <input id="email" name="email" type="text" value="" size="30" aria-required="true" />
                    </p>

                    <p class="comment-form-url">
                        <label for="url" style="display: none;">Website</label>
                        <input id="url" name="url" type="text" value="" size="30">
                    </p>

                    <p class="form-submit">
                        <input name="submit" type="submit" id="submit" value="Submit">
                        <input type="hidden" name="comment_post_ID" value="23" id="comment_post_ID">
                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                    </p>
                </form>
            </div>
            <!-- #respond -->
        </div>
    </div>
</div>
</body>
</html>
