<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="ko-KR" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="ko-KR" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="ko-KR" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ko-KR" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Hana's Blog</title>
    <meta name="description" content="This is Hana's Blog"/>
    <meta name="viewport" content="width=device-width"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <script src="js/vendor/masonry.pkgd.min.js"></script>

    <style type="text/css">
        body {
            background-color: #c6bea6;
        }

        body {
            background-image: url(img/body-bg-17.png);
        }
    </style>
    <link id="raleway" href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Raleway', Arial, sans-serif !important;
        }
    </style>
    <link id="droid_sans" href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        #iframe, .entry.normal-post .content p {
            font-family: 'Droid Sans', Arial, sans-serif !important;
        }
    </style>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <link rel="stylesheet" href="css/fonts/nanum.css" />
    <link rel="stylesheet" href="css/n-style.css" />
    <link rel="stylesheet" href="css/shortcodes.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body class="home blog et_includes_sidebar">
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header id="header">
    <div id="inside">
        <a href="/blog/" target="_top">
            <div id="top-logo">Hana's Blog</div>
        </a>
        <a href="/blog/logout">
            <img id="logout" src="img/logout.png" alt="Logout" />
        </a>
        <form id="login">
            <input class="span2" type="text" placeholder="Email" />
            <input class="span2" type="password" placeholder="Password" />
            <button type="submit" class="btn">Sign in</button>
        </form>
    </div>
</header>
<div id="iframe">
    <div id="left-area">
        <header>
            <div id="left-logo">
                <a href="/blog/">
                    <div class="logo"></div>
                </a>
                <p id="tagline">A Code In My Life</p>
            </div>
            <nav id="top-menu">
                <ul id="menu-pages">
                    <li id="menu-item-1" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1">
                        <a href="/blog/">Home</a>
                    </li>
                    <li id="menu-item-2" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2">
                        <a href="/blog/">Blog</a>
                    </li>
                    <li id="menu-item-3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3">
                        <a href="/blog/">Shortcut</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div id="sidebar">
            <div id="meta-4" class="widget iwdget_meta"></div>
            <div id="linkcat-2" class="widget widget_links"></div>
            <div id="recent-posts-4" class="widget widget_recent_entries"></div>
            <div id="recent-comments-3" class="widget widget_recent_comments"></div>
        </div>
    </div>
    <div id="content-area" class="clearfix">
        <div id="content_right">
            <div id="et_posts" class="masonry" style="position:relative;">
                <article id="post-5" class="post-5 post type-post status-pulish format-standard hentry category-blog normal-post entry masonry-brick"></article>
            </div>
            <div class="wp-pagenavi">
                <span class="pages">Page 1 of 2</span>
                <span class="current">1</span>
                <a href="/blog/page/2/" class="page larger">2</a>
                <a href="/blog/page/2/" class="nextpostslink">»</a>
            </div>
            <div id="footer_top_part"></div>
            <footer id="main_footer" style="height: auto;"></footer>
        </div>
    </div>
</div>
<script src="js/vendor/jquery-1.9.1.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script-->
</body>
</html>
