<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
</head>
<body>
<div>
    <h3>
        <a href="/blog/article/{{ article.id }}">{{ article.title }}</a>
    </h3>
    <div>
        <span>
            <a href="/blog/">첫화면으로</a>
        </span>
    </div>
    <ul>
        <li>
            <span>카테고리</span>
            <div>{{ article.category.name }}</div>
        </li>
        <li>
            {% for tag in article.tags.all %}
            <span>태그목록 : </span>
            <div>{{ tag.name }}</div>
            {% endfor %}
        </li>
        <li>{{ article.created }}</li>
        <li>{{ article.comments }}</li>
    </ul>
    <textarea cols="100" rows="20" readonly="true" style="border: 1px solid #DFDFDF;">{{ article.content }}</textarea>
</div>
<div>
    {% include 'write_cmt.html' %}
    {% include 'read_cmt.html' %}
</div>
<ul>
    {% if prev_article %}
    <li>
        <a href="/blog/article/{{ prev_article.id }}">이전글</a>
    </li>
    {% endif %}
    {% if next_article %}
    <li>
        <a href="/blog/article/{{ next_article.id }}">다음글</a>
    </li>
    {% endif %}
</ul>
</body>
</html>
